In [1]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/lxnrwj5w73bsigranne42td54f54sm')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (29,30,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
list(df.isna().sum())

[0,
 0,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 45,
 1889,
 0,
 0,
 0,
 0,
 20572,
 20572,
 20572,
 20572,
 5,
 5,
 5,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [3]:
df.shape

(20632, 68)

In [8]:
df.iloc[:, [29, 30, 31, 32]]

      friends is_starred is_backing permissions
0         NaN        NaN        NaN         NaN
1         NaN        NaN        NaN         NaN
2         NaN        NaN        NaN         NaN
3         NaN        NaN        NaN         NaN
4         NaN        NaN        NaN         NaN
...       ...        ...        ...         ...
20627     NaN        NaN        NaN         NaN
20628     NaN        NaN        NaN         NaN
20629     NaN        NaN        NaN         NaN
20630     NaN        NaN        NaN         NaN
20631     NaN        NaN        NaN         NaN

[20632 rows x 4 columns]

In [12]:
df["blurb"][25]

'We want to give images their due space in our fast moving society and bring them from screens and smart devices #BackOnTheWall.'

In [15]:
usd = df[df["currency"] == "USD"]

In [22]:
usd[usd["goal"] > 10000000]

,Unnamed: 0,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,...,launch_to_deadline,launch_to_state_change,create_to_launch_days,launch_to_deadline_days,launch_to_state_change_days,SuccessfulBool,USorGB,TOPCOUNTRY,LaunchedTuesday,DeadlineWeekend
1409,1409,836959136,"{""small"":""https://ksr-ugc.imgix.net/assets/011...",Lynnewood Hall Restoration (Canceled),"Built in the late 1800's, this 70K sq. feet es...",30000000.0,0.00,canceled,lynnewood-hall-restoration,False,...,30 days 00:00:00.000000000,15 days 03:26:48.000000000,0,30,15,0,1,1,1,0
3487,3487,20986155,"{""small"":""https://ksr-ugc.imgix.net/assets/012...","The Kingdom, Medieval Reenactment Resort",The Kingdomâ€™s mission is to be recognized as t...,40000000.0,0.00,failed,the-kingdom-medieval-reenactment-resort,False,...,40 days 00:00:00.000000000,40 days 00:00:00.000000000,1,40,40,0,1,1,0,0
4801,4801,2083255961,"{""small"":""https://ksr-ugc.imgix.net/assets/011...",A Billion Pixels...,"A billion pixel website, a billion pixel displ...",100000000.0,56.00,failed,a-billion-pixels,False,...,60 days 00:00:00.000000000,60 days 00:00:00.000000000,34,60,60,0,1,1,0,0
8678,8678,1874272314,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Civilian Space Program,Civilian Space Program - CSP - to enable avera...,60000000.0,70.00,failed,civilian-space-program,False,...,60 days 00:00:00.000000000,60 days 00:00:04.000000000,1,60,60,0,1,1,1,1
11043,11043,1622360768,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",E-Voting by Smartphone: Direct Democracy 2016,Direct Democracy via Smartphone for Presidenti...,55000000.0,0.00,failed,e-voting-by-smartphone-direct-democracy-2016,False,...,4 days 00:11:09.000000000,4 days 00:11:10.000000000,1,4,4,0,1,1,0,0
12328,12328,6538220,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Construction of Gundam 01,7th Leadership Organization a organization tha...,25000000.0,10.00,failed,construction-of-gundam-01,False,...,30 days 00:00:00.000000000,30 days 00:00:00.000000000,4,30,30,0,1,1,0,0
12410,12410,2071650271,"{""small"":""https://ksr-ugc.imgix.net/assets/011...",Colors of Missing Light (Canceled),filter in real time the light spectrum and pro...,30000000.0,0.00,canceled,colors-of-missing-light,False,...,31 days 00:03:57.000000000,0 days 02:04:41.000000000,5,31,0,0,1,1,0,0
15035,15035,501029672,"{""small"":""https://ksr-ugc.imgix.net/assets/011...",X-Wing Clone,"X-Wing clone in case the ""Death Star"" KickSta...",20000000.0,61456.00,failed,x-wing-clone,False,...,60 days 00:00:00.000000000,60 days 00:00:00.000000000,4,60,60,0,1,1,1,1
15220,15220,1887558032,"{""small"":""https://ksr-ugc.imgix.net/assets/011...",Crowdfunding Rebel Alliance X-Wing Squadron,We must defend ourselves against the Empire's ...,11000000.0,721036.46,failed,crowdfunding-rebel-alliance-x-wing-squadron,False,...,51 days 16:02:30.000000000,51 days 16:02:32.000000000,36,51,51,0,1,1,0,0
15296,15296,722941565,"{""small"":""https://ksr-ugc.imgix.net/assets/011...",Help bring Alphakat Recy-Renew Energy to the W...,KDV Technology Waste-to-Energy\nA conversion o...,17400000.0,1.00,failed,help-bring-alphakat-recy-renew-energy-to-the-w...,False,...,60 days 00:00:00.000000000,60 days 00:00:02.000000000,33,60,60,0,1,1,1,1
18562,18562,1210245084,"{""small"":""https://ksr-ugc.imgix.net/assets/015...",ReefAngels - Coral Reef rebuilding program (Ca...,Our mission to place coral-growing framework g...,15205000.0,13.13,canceled,reefsavers-coral-reef-rebuilding-program,False,...,60 days 00:00:00.000000000,1 days 18:57:22.000000000,0,60,1,0,1,1,0,0

In [25]:
usd[usd["state"].str.contains("succ")]["goal"].describe()

count       4362.000000
mean       22565.258063
std        48122.632652
min            1.000000
25%         2500.000000
50%         7500.000000
75%        25000.000000
max      1000000.000000
Name: goal, dtype: float64

In [26]:
usd[~usd["state"].str.contains("succ")]["goal"].describe()

count    9.779000e+03
mean     1.181436e+05
std      1.538936e+06
min      1.000000e+00
25%      5.000000e+03
50%      2.000000e+04
75%      5.000000e+04
max      1.000000e+08
Name: goal, dtype: float64

In [27]:
df.columns

Index(['Unnamed: 0', 'id', 'photo', 'name', 'blurb', 'goal', 'pledged',
       'state', 'slug', 'disable_communication', 'country', 'currency',
       'currency_symbol', 'currency_trailing_code', 'deadline',
       'state_changed_at', 'created_at', 'launched_at', 'staff_pick',
       'backers_count', 'static_usd_rate', 'usd_pledged', 'creator',
       'location', 'category', 'profile', 'spotlight', 'urls', 'source_url',
       'friends', 'is_starred', 'is_backing', 'permissions', 'name_len',
       'name_len_clean', 'blurb_len', 'blurb_len_clean', 'deadline_weekday',
       'state_changed_at_weekday', 'created_at_weekday', 'launched_at_weekday',
       'deadline_month', 'deadline_day', 'deadline_yr', 'deadline_hr',
       'state_changed_at_month', 'state_changed_at_day', 'state_changed_at_yr',
       'state_changed_at_hr', 'created_at_month', 'created_at_day',
       'created_at_yr', 'created_at_hr', 'launched_at_month',
       'launched_at_day', 'launched_at_yr', 'launched_at_hr',
       'create_to_launch', 'launch_to_deadline', 'launch_to_state_change',
       'create_to_launch_days', 'launch_to_deadline_days',
       'launch_to_state_change_days', 'SuccessfulBool', 'USorGB', 'TOPCOUNTRY',
       'LaunchedTuesday', 'DeadlineWeekend'],
      dtype='object')

In [90]:
df[["TOPCOUNTRY", "country"]]

       TOPCOUNTRY country
0               1      US
1               1      US
2               1      US
3               1      US
4               0      DE
...           ...     ...
20627           0      CH
20628           0      DE
20629           1      US
20630           1      US
20631           0      IE

[20632 rows x 2 columns]

In [94]:
df["TOPCOUNTRY"].value_counts()

1    16840
0     3792
Name: TOPCOUNTRY, dtype: int64

In [92]:
df["country"].value_counts()

US    14141
GB     2498
CA     1098
AU      674
DE      377
NL      322
FR      312
IT      244
ES      168
DK      123
NZ      111
SE       96
CH       94
IE       79
NO       64
AT       63
MX       55
BE       51
HK       35
SG       25
LU        2
Name: country, dtype: int64

In [84]:
df[df["state"].str.contains("succ")]["deadline_month"].value_counts(normalize=True)

7     0.103689
12    0.096378
6     0.093885
8     0.091891
5     0.088401
11    0.087404
10    0.082586
9     0.080758
4     0.075274
3     0.071452
1     0.064806
2     0.063476
Name: deadline_month, dtype: float64

In [83]:
df[~df["state"].str.contains("succ")]["deadline_month"].value_counts(normalize=True)

8     0.095867
12    0.094019
3     0.092240
7     0.087724
9     0.085261
10    0.083208
11    0.080608
5     0.078555
4     0.076776
6     0.075818
1     0.075065
2     0.074860
Name: deadline_month, dtype: float64

In [56]:
df[df["state"].str.contains("succ")][["goal", "pledged"]].corr()

             goal   pledged
goal     1.000000  0.601139
pledged  0.601139  1.000000

In [55]:
df[["pledged", "goal", "state"]].corr()

          pledged      goal
pledged  1.000000  0.010058
goal     0.010058  1.000000

In [47]:
times[times["state"].str.contains("succ")].iloc[25:50]

          state             deadline          launched_at     state_changed_at
205  successful  2013-08-06 13:25:50  2013-07-07 13:25:50  2013-08-06 13:25:50
206  successful  2014-04-30 23:00:05  2014-03-31 23:00:05  2014-04-30 23:00:12
207  successful  2011-02-19 21:00:00  2011-02-01 02:09:56  2011-02-19 21:00:15
208  successful  2011-10-25 17:03:50  2011-08-26 17:03:50  2011-10-25 17:03:52
209  successful  2013-03-17 13:07:45  2013-02-15 13:07:45  2013-03-17 13:07:45
210  successful  2012-11-16 14:55:52  2012-10-17 14:55:52  2012-11-16 14:55:53
211  successful  2012-06-18 21:00:00  2012-05-29 21:00:36  2012-06-18 21:00:18
212  successful  2012-06-07 15:55:48  2012-05-08 15:55:48  2012-06-07 15:55:48
213  successful  2012-03-19 18:00:00  2012-03-05 15:37:38  2012-03-19 18:00:47
214  successful  2012-03-31 23:59:00  2012-02-07 17:48:01  2012-03-31 23:59:00
215  successful  2011-02-04 19:40:42  2011-01-05 19:40:42  2011-02-04 19:40:43
216  successful  2016-09-05 18:32:33  2016-08-01 18:32:33  2016-09-05 18:32:33
217  successful  2011-09-30 12:21:30  2011-08-31 12:21:30  2011-09-30 12:21:30
218  successful  2013-08-22 22:00:00  2013-08-01 02:10:28  2013-08-22 22:00:37
219  successful  2014-01-14 14:02:15  2013-12-09 14:02:15  2014-01-14 14:02:15
282  successful  2013-11-16 20:06:00  2013-10-15 15:18:15  2013-11-16 20:06:00
283  successful  2014-11-21 23:01:00  2014-10-29 14:45:04  2014-11-21 23:01:00
284  successful  2016-10-14 22:59:00  2016-09-15 13:44:41  2016-10-14 22:59:00
285  successful  2016-11-29 09:07:31  2016-10-30 09:07:31  2016-11-29 09:07:53
286  successful  2014-07-23 23:00:00  2014-07-07 21:51:20  2014-07-23 23:00:13
287  successful  2016-12-04 20:00:00  2016-11-01 08:35:40  2016-12-04 20:00:01
288  successful  2016-12-01 23:52:15  2016-11-01 23:52:15  2016-12-01 23:52:16
289  successful  2016-11-17 12:16:19  2016-10-18 12:16:19  2016-11-17 12:16:19
290  successful  2015-03-12 09:00:40  2015-02-10 09:00:40  2015-03-12 09:00:42
291  successful  2015-08-28 08:54:51  2015-07-29 08:54:51  2015-08-28 08:54:51

In [45]:
times = df[["state", "deadline", "launched_at", "state_changed_at"]]

In [32]:
df["state"].value_counts()

failed        11416
successful     6018
canceled       2460
live            508
suspended       230
Name: state, dtype: int64

In [35]:
df["country"].value_counts()

US    14141
GB     2498
CA     1098
AU      674
DE      377
NL      322
FR      312
IT      244
ES      168
DK      123
NZ      111
SE       96
CH       94
IE       79
NO       64
AT       63
MX       55
BE       51
HK       35
SG       25
LU        2
Name: country, dtype: int64

In [39]:
df["staff_pick"]

0        False
1        False
2        False
3        False
4        False
         ...
20627    False
20628    False
20629    False
20630    False
20631    False
Name: staff_pick, Length: 20632, dtype: bool

In [112]:
cols = [
    "id", 
    "goal",
    "state",
    "disable_communication",
    "country",
    "staff_pick",
    "backers_count",
    "static_usd_rate",
    "pledged",
    "category",
    "spotlight",
    "deadline_weekday",
    "launched_at_weekday",
    "launch_to_deadline_days",
    "LaunchedTuesday",
    "DeadlineWeekend"
]
df = df[cols]
df.isna().sum()

id                            0
goal                          0
state                         0
disable_communication         0
country                       0
staff_pick                    0
backers_count                 0
static_usd_rate               0
pledged                       0
category                   1889
spotlight                     0
deadline_weekday              0
launched_at_weekday           0
launch_to_deadline_days       0
LaunchedTuesday               0
DeadlineWeekend               0
dtype: int64

In [113]:
df.shape

(20632, 16)

In [104]:
df["goal_usd"] = df[""]

,id,goal,state,disable_communication,country,staff_pick,backers_count,static_usd_rate,pledged,category,spotlight,deadline_weekday,launched_at_weekday,launch_to_deadline_days,LaunchedTuesday,DeadlineWeekend
0,1454391034,1500.0,failed,False,US,False,0,1.000000,0.0,Academic,False,Friday,Wednesday,36,0,0
1,1655206086,500.0,failed,False,US,False,0,1.000000,0.0,Academic,False,Friday,Monday,60,0,0
2,311581827,100000.0,failed,False,US,False,5,1.000000,120.0,Academic,False,Thursday,Sunday,60,0,0
3,859724515,5000.0,failed,False,US,False,0,1.000000,0.0,Academic,False,Monday,Saturday,30,0,0
4,1613604977,3222.0,failed,False,DE,False,17,1.114613,356.0,Academic,False,Monday,Thursday,32,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20627,2118633700,32500.0,failed,False,CH,False,173,1.000703,25868.0,Apps,False,Sunday,Wednesday,31,0,1
20628,657198274,100000.0,failed,False,DE,False,13,1.054797,1559.0,Apps,False,Thursday,Tuesday,30,1,0
20629,1790340460,10000.0,failed,False,US,False,0,1.000000,0.0,Apps,False,Tuesday,Friday,60,0,0
20630,2028578264,2500.0,failed,False,US,False,0,1.000000,0.0,Apps,False,Wednesday,Monday,30,0,0
20631,1484954094,50000.0,failed,False,IE,False,10,1.276642,380.0,Apps,False,Thursday,Tuesday,30,1,0

In [106]:
df["country"].value_counts(normalize=True)

US    0.685392
GB    0.121074
CA    0.053218
AU    0.032668
DE    0.018273
NL    0.015607
FR    0.015122
IT    0.011826
ES    0.008143
DK    0.005962
NZ    0.005380
SE    0.004653
CH    0.004556
IE    0.003829
NO    0.003102
AT    0.003054
MX    0.002666
BE    0.002472
HK    0.001696
SG    0.001212
LU    0.000097
Name: country, dtype: float64

In [111]:
df[df[["country", "USorGB"]]["USorGB"] == 1]["country"].unique()

array(['US', 'GB'], dtype=object)

In [110]:
df["country"].unique()

array(['US', 'DE', 'GB', 'CA', 'AU', 'AT', 'CH', 'NZ', 'IT', 'NL', 'SE',
       'FR', 'MX', 'ES', 'DK', 'IE', 'NO', 'BE', 'LU', 'SG', 'HK'],
      dtype=object)

In [ ]:
df